body {
    padding-left: 2pc; 
    padding-bottom: 10pc;
}

pre{
    background-color: whitesmoke;
}

.speech {
    font: optional;
    color:#000;
}

.direction {
    font: optional;
    color: #000;
    background-color: cyan;
}

.direction:hover {
    font: optional;
    color: #000;
    background-color: yellow;
}

.name {
    font: optional;
    color:#000;
}

.ARG {
    font: optional;
    background-color: cadetblue;
}

.TOI {
    font: optional;
    background-color: chartreuse;
}

table {
    border: 1px solid;
    color:black;
    text-align: center;
    background-color: antiquewhite;
}

tr:nth-child(even) {
    background-color: bisque;
}


